.fast-sell{
	background: #fff;
	padding: 30px;
	.item-car .xt-car-info{
		position: initial;
	}
}
.fast-news{
	h4{
		font-weight: 600;
		font-size: 22px;
		margin-bottom: 20px;
	}
	.list-car{
		border-bottom: 1px solid #DADBDB;
		margin-bottom: 30px;
		padding: 0 0 30px;
	}
}
.push-news{
	max-width: 540px;
	width: 100%;
	background: #fff;
	h4{
		font-weight: 600;
		font-size: 18px;
		line-height: 32px;
	}
	ul{
		li{
			border: 1px solid #DADBDB;
			box-sizing: border-box;
			border-radius: 8px;
			padding: 20px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 22px;
			cursor: pointer;
			position: relative;
			.scten{
				h5{
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
					text-transform: uppercase;
					margin-bottom: 0;
					display: flex;
					align-items: center;
					span{
						background: #E8CE08;
						border-radius: 4px;
						min-width: 150px;
						height: 26px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						font-weight: 500;
						font-size: 14px;
						line-height: 24px;
						color: #FAFAFA;
						margin-left: 18px;
						flex: none;
						text-transform: capitalize;
						position: relative;
						&:before{
							width: 0px;
						    height: 0px;
						    border-top: 8px solid transparent;
						    border-bottom: 8px solid transparent;
						    border-right: 13px solid #E8CE08;
						    content: '';
						    position: absolute;
						    left: -8px;
						}
					}
				}
				h6{
					font-weight: 600;
					font-size: 18px;
					line-height: 32px;
					color: #61BE5A;
					margin-bottom: 0;
				}
				p{
					font-weight: 500;
					font-size: 14px;
					line-height: 24px;
					color: #989898;
					margin-bottom: 0;
				}
			}
			.active-check{
				display: none;
				background: #61BE5A;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: -8px;
				right: -8px;
				z-index: 888;
			}
		}
		li.active{
			border: 2px solid #61BE5A;
			background: url('../images/fast-sell/ic-active.png') no-repeat;
			background-size: 39px;
			background-position: bottom -1px right -1px;	
			.active-check{
				display: flex;
			}		
		}
	}
}
.fast-action{
	margin-top: 15px;
	.xt-fast{
		width: calc(50% - 14px);
		height: 48px;
		text-transform: uppercase;
	}
}
.popup-fast-sell{
	display: none;
	border-radius: 8px;
	width: 570px;
	padding: 0;
	.fz-head{
		h5{
			padding: 12px 0;
			border-bottom: 1px solid #E0E0E0;
			text-align: center;
			font-weight: 600;
			font-size: 20px;			
			color: #0A0A0A;
		}
	}
	.ftimg-popup{
		padding: 30px 0 0;
		text-align: center;
	}
	.push-news{
		max-width: 100%;
		padding: 0 30px;
		margin-top: -35px;
		position: relative;
		z-index: 99;
	}
	.push-date{
		padding: 0 30px;
		h4{
			font-weight: 600;
			font-size: 18px;
			line-height: 32px;
			color: #000000;
		}
		ul{
			li{
				background: #fff;
				border-radius: 50px;
				min-width: 88px;
				height: 39px;
				padding: 0 20px;
				text-align: center;
				line-height: 39px;
				font-weight: 500;
				font-size: 16px;				
				color: #000000;
				border: 1px solid #E0E0E0;
				margin-right: 20px;
				cursor: pointer;
			}
			li.active{
				background: #61BE5A;
				color: #fff;
			}
		}
	}
	.fast-action{
		padding: 15px 30px 30px 30px;
		border-top: 1px solid #E0E0E0;
		margin-top: 30px;
		.xt-fast{
			width: 100%;
			margin-top: 15px;
		}
	}
}
#popup-push{
	.push-date{
		ul{
			li{
				margin-right: 0;
				margin-bottom: 15px;
				padding: 0 15px;
			}
		}
	}
}
@media(max-width: 480px){
	.fast-sell{
		padding: 20px;
		.item-car{
			.thumb-car{
				max-height: 100%;
				img{
					height: 100%;
				}
			}
		}
	}
	#popup-push{
		.push-date{
			ul{
				li{
					margin-right: 10px;
				}
			}
		}
	}
}