.list-notify-old{
	li{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;
		&:last-child{
			margin-bottom: 0;
			border-bottom: 1px solid #FAFAFA;
			padding-bottom: 30px;
		}
	}
}
.box-td-notify{
	ul{
		li{
			margin-bottom: 12px;
		}
	}
	.notify-menu-1{
		border-bottom: 1px solid #FAFAFA;
		border-top: 1px solid #FAFAFA;
		padding-top: 15px;
		margin-top: 15px;
	}
}