.box-steps-title{
	text-align: center;
	margin-bottom: 60px;
	h2{
		margin-bottom: 8px;
	}
}
.action-click{
	a{
		position: absolute;
		left: 15px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-weight: 600;
		top: 10px;
		span{
			box-sizing: border-box;
			height: 48px;
			width: 48px;
			border: 1px solid #61BE5A;
			border-radius: 50%;
			display: flex;
			justify-content: center;
		}
	}
	.next{
		right: 15px;
		left: auto;
	}
}

.category-item{
	background: #FFFFFF;
	border-radius: 6.4px;
	min-height: 160px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
	position: relative;
	cursor: pointer;
	box-shadow: 0 6px 24px 0 rgba(11,15,23,0.12);
	.citem-content h4{
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		color: #000000;
		margin-bottom: 0;
	}
}
.category-item.active{
	border: 2px solid #61BE5A;
	&:after{
		background: url('../images/icon/category/ic-check.svg');
		position: absolute;
		content: '';
		right: 16px;
		top: 16px;
		width: 24px;
		height: 24px;
	}
}
.create-step-2{
	ul{
		max-width: 770px;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		li{
			cursor: pointer;
			.item-step-2{
				background: #fff;
				border-radius: 8px;
				padding: 32px 0;
				text-align: center;
				position: relative;
				border: 2px solid transparent;
				box-shadow: 0 6px 24px 0 rgba(11,15,23,0.12);
				h4{
					font-size: 22px;
					font-weight: 600;
				}
			}
			.item-step-2.active{
				border: 2px solid #61BE5A;
				&:after{
					background: url(../images/icon/category/ic-check.svg);
					position: absolute;
					content: '';
					right: 16px;
					top: 16px;
					width: 24px;
					height: 24px;
				}
			}
		}
	}
}	
.search-group{
	max-width: 770px;
	margin: 0 auto;
	position: relative;
	input{
		height: 48px;
		border-radius: 8px;
		margin-bottom: 4px !important;		
	}
	&:after{
		content: '';
		background: url('../images/icon/ic-search-blue.svg');
		width: 24px;
		height: 24px;
		position: absolute;
		right: 16px;
		top: 12px;
	}
	.auto-complete{
		box-shadow: 0 6px 24px 0 rgba(11,15,23,0.12);
		border-radius: 8px;
		background: #fff;
		ul{
			li{
				height: 40px;
				padding: 0 16px;
				display: flex;
				align-items: center;
				&:hover{
					background-color: #FAFAFA;
					a{
						font-weight: 600;
					}
				}
			}
		}
		ul.logo-step6{
			li a{
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				img{
					max-height: 26.67px;
				}
			}
		}
	}
}
.no-icon{
	.search-group{
		&:after{
			display: none;
		}
	}
}
.category-item-description{
	ul{
		li{
			position: relative;
			margin-bottom: 4px;
			padding-left: 32px;
			&:before{
				content: '';
				background: #DADBDB; 
				height: 6px;
				width: 6px;
				position: absolute;
				left: 0;
				border-radius: 50%;
				top: 8px;
			}
		}
	}
	h5{
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 16px;
	}
}
.step-scroll{
	ul.scroll-check{
		max-width: 770px;
	    margin: 0 auto;
	    height: 500px;
	    overflow: auto;
	    padding-right: 10px;
	    &::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		li{
			height: 48px;
			width: 100%;
			border-radius: 8px;
			background-color: #FFFFFF;
			margin-bottom: 8px;
			padding: 0 16px;
			display: flex;
			border: 1px solid #fff;
			cursor: pointer;
			align-items: center;
			&:hover{
				border: 1px solid #61BE5A;
			}
			&:hover a{
				color: #61BE5A;
			}
		}
		li.active{
			border: 1px solid #61BE5A;
			a{
				color: #61BE5A;
			}
		}
	}
	.carwith-logo li a{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		img{
			max-height: 26.67px;
		}
	}
}
.form-select-brand{
	max-width: 770px;
	margin: 0 auto;
	ul li{
		.item-brands{
			border-radius: 8px;
			display: unset;
			min-height: 144px;;
			height: 144px;
			width: 170px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.category-item.active:after{
		top: 8px;
		right: 8px;
	}
	input{
		box-sizing: border-box;
		height: 48px;
		width: 100%;
		border: 1px solid #DADBDB;
		border-radius: 8px;
		margin-bottom: 32px;
		color: #929495;
		font-size: 14px;
	}
}
.search-autocomplete{
	max-width: 770px;
	margin: 0 auto;
	input, textarea{
		box-sizing: border-box;
		height: 48px;
		width: 100%;
		border: 1px solid #DADBDB;
		border-radius: 8px;
		margin-bottom: 32px;
		color: #929495;
		padding: 16px;
		font-size: 14px;
	}
	textarea{
		height: auto;
	}
}
.form-border-bold{
	border: 1px solid #0B0F17 !important;
}
.suggest-keyword ul li{
	height: 32px;
	min-width: 67px;
	border: 1px solid #929495;
	border-radius: 4px;
	float: left;
	text-align: center;
	line-height: 32px;
	margin-right: 8px;
	padding: 0 8px;
	margin-bottom: 8px;
}
.suggest-color{
	ul{
		li{
			position: relative;
			padding-left: 52px !important;
			&:before{
				height: 24px;
				width: 24px;
				opacity: 0.8;
				border-radius: 4px;
				content: '';
				position: absolute;
				left: 16px;
			}
		}
		li.bg-white{
			&:before{
				border: 1px solid #000000;
				background-color: #FFFFFF;
			}
		}
		li.bg-black{
			&:before{
				background-color: #000000;
			}
		}
		li.bg-red{
			&:before{
				background: linear-gradient(180deg, #FF8F8F 0%, #FF0000 100%);
			}
		}
		li.bg-blue{
			&:before{
				background: linear-gradient(180deg, #54AFFE 0%, #2A77FC 100%);
			}
		}
		li.bg-green{
			&:before{
				background: linear-gradient(180deg, #9AE093 0%, #61BE5A 100%);
			}
		}
		li.bg-yellow{
			&:before{
				background: linear-gradient(180deg, #FDF12B 0%, #F9DF13 100%);
			}
		}
		li.bg-orange{
			&:before{
				background: linear-gradient(180deg, #FFB242 0%, #FF7A1F 100%);
			}
		}
		li.bg-purple{
			&:before{
				background: linear-gradient(180deg, #9B66FF 0%, #6236FF 100%);
			}
		}

		li.bg-silver{
			&:before{
				background: linear-gradient(180deg, #D2D2D6 0%, #BEBEC4 100%);
			}
		}
		li.bg-brown{
			&:before{
				background: linear-gradient(180deg, #A3866C 0%, #764C24 100%);
			}
		}
		li.bg-pink{
			&:before{
				background: linear-gradient(180deg, #F59EC6 0%, #F16EAA 100%);
			}
		}
		li.bg-grey{
			&:before{
				background: linear-gradient(180deg, #989898 0%, #636363 100%);
			}
		}
		li.bg-other{
			&:before{
				border: 1px solid #000000;
				background-color: #FFFFFF;
				content: '?';
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
.suggest-keyword label{
	color: #929495;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 16px;
}
.form-creation-news{
	max-width: 770px;
	margin: 0 auto;
}
.label-note{
	color: #929495;
}
.list-suggest-text .category-item-description:first-child, .last-step-image .category-item-description:last-child{
	max-width: 370px;
}
.search-autocomplete .input-weight{
	color: #000000;
	font-weight: 600;
}
#upload-gallery{
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.form-upload-snews .box {
    border: 1px dashed #61BE5A;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    height: 104px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-upload-snews .upload label{
	width: 100%;
}
.form-upload-snews .upload figure{
	margin-bottom: 8px;
}
.preview-gallery ul li{
	position: relative;
	float: left;
	max-width: 141px;
	width: 100%;
	margin-right: 16px;
	margin-bottom: 16px;
}
.preview-gallery ul li:nth-child(5n){
	margin-right: 0;
}
.preview-gallery ul li img{
	max-width: 141px;
}
.preview-gallery ul li .remove-img{
	position: absolute;
	top: 8px;
	right: 8px;
}
.create-final-step .xt-button{
	height: 48px;
	width: 187px;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 16px;
}
.xt-create-left{
	max-width: 630px;
	float: left;
	width: 100%;
}
.box-create{
	width: 100%;
	float: left;
}
.box-create ul li{
	border-radius: 8px;
	background-color: #FFFFFF;
	padding: 16px;
	float: left;
	width: 100%;
	max-width: 300px;
	min-height: 125px;
	margin-bottom: 16px;
	border: 1px solid #F4F4F5;
}
.box-create ul li:nth-child(2n){
	float: right;
}
.box-create ul li.active{
	border-color: #61BE5A;
}
.box-create ul li h4{
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
}
.box-create ul li h6{
	color: #61BE5A;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}
.box-create ul li h6 span{
	font-size: 14px;
	color: #000000;
	text-decoration: line-through;
	margin-left: 8px;
}
.box-create ul li p{
	color: #929495;
	font-size: 12px;
}
.box-create .rechange{
	height: 24px;
	width: 63px;
	border-radius: 4px;
	background-color: #FF5656;
	margin-left: 16px;
	color: #FFFFFF;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.xt-create-right{
	float: right;
	max-width: 370px;
	width: 100%;
	border-radius: 8px;
	background-color: #FFFFFF;
	padding: 32px;
}
.xt-create-right h3{
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}
.xt-create-right ul li{
	height: 40px;
	width: 96px;
	border-radius: 4px;
	background-color: #F4F4F5;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
	border: 1px solid transparent;
}
.xt-create-right ul li.active{
	border: 1px solid #333;
}
.xt-create-right .xt-button{
	width: 100%;
	height: 48px;
	font-weight: 600;
	text-transform: uppercase;
}
/*last-full*/
.full-create-news .full-create-ar{
	padding: 32px;
	border-radius: 8px;
}
.xt-all-create{
	border-radius: 8px;
	background-color: #FAFAFA;
	padding: 8px 16px;
}
.xt-create-step-1 ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.xt-create-step-1 ul li.active{
	height: 96px;
	width: 140px;
	border: 1px solid #61BE5A;
	border-radius: 8px;
	background: #fff;
}
.xt-create-step-1 ul li.active:after{
	background: url(../images/icon/category/ic-check.svg);
	position: absolute;
	content: '';
	right: 8px;
	top: 8px;
	width: 24px;
	height: 24px;
}
.xt-create-step-2 ul li{
	display: flex;
	align-items: center;
	justify-content: center;
}
.xt-create-step-2 ul li .item-step-2{
	height: 96px;
	width: 177px;
	border: 1px solid transparent;
	border-radius: 8px;
	padding: 0;
	min-height: auto !important;
	background: transparent;
	margin-bottom: 0;
}
.xt-create-step-2 ul{
	max-width: 370px;
}
.xt-create-step-2 ul li .item-step-2.active{
	border: 1px solid #61BE5A;
	background: #fff;
}
.xt-create-step-2 ul li h4{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
}
.xt-create-step-2 .create-step-2 ul li .item-step-2.active:after{
	top: 8px;
	right: 8px;
}
.xt-create-step-3 .citem-content img{
	max-width: 48px;
}
.xt-create-step-3 ul{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.sugguest-description{
	label{
		color: #929495;		
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 16px;
	}
	ul{
		display: flex;
		li{
			border: 1px solid #929495;
			border-radius: 4px;
			height: 32px;
			padding: 0 16px;
			display: flex;
			align-items: center;
			margin-right: 8px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}
.count-text{
	color: #929495;
	font-weight: 600;
}
.has-currency{
	position: relative;
}
.has-currency:after{
	content: 'VNÄ';
	position: absolute;
	right: 16px;
    top: 13px;
}
.full-create-news{
	.xt-create-step-3 ul{
		justify-content: space-between;
	}
	.xt-last-step-4{
		.bg-grey-step-4{
			border-radius: 8px;
			background-color: #FAFAFA;
			padding: 16px 0;
			.col-lux{
				border-right: 1px solid #DADBDB;
				&:last-child{
					border: none;
				}
			}		
			ul{
				padding: 16px;
				li{
					height: 40px;
					display: flex;
					align-items: center;
					&:hover{
						background: #fff;
						border-radius: 8px;
						a{
							font-weight: 600;
						}
					}
					a{
						display: flex;
						justify-content: space-between;
						width: 100%;
						padding: 0 8px;
					}
				}
				li.none-info{
					color: #929495;					
					font-size: 14px;
					font-weight: 600;
					padding: 0 8px;
				}
			}		
		}
	}
	.xt-last-step-5{
		ul{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			li{
				width: 100%;
				max-width: 358px;
				margin-bottom: 16px;
				position: relative;
				input, select, textarea{
					height: 48px;
					border: 1px solid #DADBDB;					
					border-radius: 8px;
					color: #929495;
					position: relative;
					padding-left: 40px;
					&::placeholder{
						color: #929495;
					}
				}
				textarea{
					height: 120px;
				}
				&:last-child{
					max-width: 732px;
					textarea{
						padding: 16px;
					}
				}				
			}
			li.input-img{
				&:before{
					background: url('../images/creat-news/ic-hopso.svg') no-repeat;
					position: absolute;
					left: 8px;
					top: 10px;
					content: '';
					width: 25px;
					height: 24px;
					z-index: 999;
				}
			}
			li.input-nl{
				&:before{
					background: url('../images/creat-news/ic-nhienlieu.svg') no-repeat;
				}
			}
			li.input-sc{
				&:before{
					background: url('../images/creat-news/ic-socho.svg') no-repeat;
				}
			}
			li.input-ms{
				select{
					-webkit-appearance: none;
				    -moz-appearance: none;
				    text-indent: 1px;
				    text-overflow: '';
				}
				&:before{
					background: url('../images/creat-news/ic-mausac.svg') no-repeat;
				}
				&:after{
					background: url('../images/creat-news/ic-select-color.svg') no-repeat;
					position: absolute;
					right: 8px;
					top: 10px;
					content: '';
					width: 25px;
					height: 24px;
					z-index: 999;
				}
			}
			li.input-year{
				&:before{
					background: url('../images/creat-news/ic-year.svg') no-repeat;
				}
			}
			li.input-tt{
				&:before{
					background: url('../images/creat-news/ic-tinhtrang.svg') no-repeat;
				}
			}
			li.input-km{
				&:before{
					background: url('../images/creat-news/ic-km.svg') no-repeat;
				}
			}
		}
	}
	.xt-last-step-6{
		ul.cpanel-basic{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			>li{
				position: relative;
				max-width: 545px;
				width: 100%;
				margin-bottom: 16px;
				input, select, textarea{
					height: 48px;
					border: 1px solid #DADBDB;					
					border-radius: 8px;
					color: #929495;
					position: relative;
					padding-left: 40px;
					&::placeholder{
						color: #929495;
					}
				}
				p{
					color: #929495;
					margin-top: 8px;
				}
				.box-tags-xl{
					border: 1px solid #DADBDB;
					border-radius: 8px;
					min-height: 184px;
					padding: 16px;
					a{
						height: 32px;					
						border-radius: 4px;
						background-color: #929495;
						color: #fff;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						padding: 0 16px;
						margin: 0 4px 8px 0;
					}
				}
				&:nth-child(1), &:nth-child(2), &:nth-child(3){
					max-width: 360px;
				}		
			}
			li.input-cb{
				&:before{
					background: url('../images/creat-news/ic-title.svg') no-repeat;
					position: absolute;
					left: 8px;
					top: 10px;
					content: '';
					width: 25px;
					height: 24px;
					z-index: 999;
				}	
			}
			li.input-price{
				&:before{
					background: url('../images/creat-news/ic-price.svg') no-repeat;
				}
			}
			li.input-dangxe{
				&:before{
					background: url('../images/creat-news/icon-dangxe.svg') no-repeat;
					top: 15px;
				}
			}
		}
		.preview-gallery{
			ul{
				li{
					max-width: 124px;
					&:nth-child(4n){
						margin-right: 0;
					}
					&:nth-child(5n){
						margin-right: 16px;
					}
					img{
						max-width: 124px;
					}
				}
			}			
		}
		.form-upload-snews .box{
			margin-top: 0;
		}
	}
	.bottom-full{
		border-top: 1px solid #DADBDB;
		margin-top: 32px;
		padding: 16px 0;
		.container{
			display: flex;
			justify-content: space-between;		
			align-items: center;	
		}
		.xt-button{
			height: 48px;
			min-width: 370px;
			text-transform: uppercase;			
		}
	}
}