.store-list-item .archive-thumb{
	float: left;
	margin-right: 13px;
	max-width: 160px;
}
.store-list-item .archive-text h3{
	margin-bottom: 8px;
	line-height: 18px;
}
.store-list-item .archive-text h3 a{
	font-size: 16px;
	font-weight: 600;
}
.store-list-item .archive-text p{
	color: #929495;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
}
/*store-detail*/
.store-left{
	max-width: 370px;
	float: left;
	width: 100%;	
}
.box-own-detail{
	padding: 32px;
	border-radius: 8px;
}
.box-own-detail h3{
	margin: 8px 0 5px;
}
.box-own-detail p{
	color: #929495;
	font-size: 12px;
}
.own-avatar img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.store-xt-action .action-thd{
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
}
.store-xt-action .block-contact{
	width: 100%;
	height: 48px;
	background: #61BE5A;
	margin-left: 0;
	color: #fff;
}
.box-aboutus{
	padding: 32px;
	border-radius: 8px;
}
.store-right{
	max-width: 770px;
	width: 100%;
	float: right;
	padding: 32px;
	border-radius: 8px;
}
.store-right .search-group-archive select{
	max-width: 225px;
	background: #FAFAFA;
}

.store-right .list-archive-item ul li .archive-thumb{
	position: relative;
}
.store-right .list-archive-item ul li .archive-text h3{
	max-width: 380px;
}
.top-post-user{
	padding: 32px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
}
.top-post-user .tp-left img{
	flex: none;
	width: 64px;
	height: 64px;
	margin-right: 16px;
	border-radius: 50%;
}
.tp-content h4{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 24px;
}
.tp-content p{
	color: #929495;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
	margin-bottom: 8px;
}
.tp-right .xt-button{
	width: 162px;
	height: 48px;
	text-transform: uppercase;
}
#post-tab{
	background: #FAFAFA;
	border-radius: 8px;
}
#post-tab li a{
	color: #929495;
	font-size: 16px;
	font-weight: 600;
	height: 40px;
	padding: 0 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#post-tab li a:hover, #post-tab li.active a{
	background: #61BE5A;
	border-radius: 8px;
	color: #fff;
}
.your-post-user .box-list-category ul{
	max-width: 706px;
	overflow-x: scroll;
	white-space: nowrap;
}
.your-post-user .box-list-category ul::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
/* Handle */
.your-post-user .box-list-category ul::-webkit-scrollbar-thumb {
	background: #DADBDB; 
}
/* Handle on hover */
.your-post-user .box-list-category ul::-webkit-scrollbar-thumb:hover {
	background: #DADBDB; 
}
.your-post-user .box-list-category ul li{
	display: inline-block;
	margin-right: 0;
	padding-top: 15px;
}
.your-post-user .box-list-category ul li.active p{
	color: #61BE5A;
}
#category-tab-content ul.rs-your-post>li:not(:last-child){
	margin-bottom: 32px;
}
#category-tab-content .archive-text h3{
	line-height: 0;
	max-width: 380px;
}
#category-tab-content .archive-text h3 a{
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
#category-tab-content .archive-thumb{
	flex: none;
	margin-right: 16px;
}
#category-tab-content ul li:not:(:last-child){
	margin-bottom: 16px;
}
#category-tab-content .call-action .save-news{
	width: 131px;
}
#category-tab-content .meta-date{
	top: 0;
}
.want-right .xt-button{
	height: 48px;
	width: 138px;
	text-transform: uppercase;
}
.want-left h4{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 4px;
}
.want-left span{
	font-size: 12px;
	color: #929495;
}
.group-button-drop{
	height: 32px;
	width: 32px;
	border: 1px solid #61BE5A;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.dropdown-drop ul{
	display: block;
	border-radius: 8px;
	width: 213px;
	padding: 10px 0;
	box-shadow: 0 6px 24px 0 rgba(11,15,23,0.12);
}
.dropdown-drop{
	border: none;
	left: -180px;
	padding: 0;
	top: 32px;
}
.dropdown-drop ul li{
	height: 40px;
	font-size: 14px;
	display: flex;
	align-items: center;
	width: 205px;
	margin: 0 auto;
	padding: 0 12px;
}
.dropdown-drop ul li:hover{
	height: 40px;
	width: 205px;
	border-radius: 8px;
	background-color: #FAFAFA;
}
.dropdown-drop ul li:hover a{
	font-weight: 600;
}
.dropdown-drop ul li img{
	margin-right: 16px;
}
.dropdown-drop ul li a{
	display: block;
	width: 100%;
}
.action-in-your-post .save-news{
	height: 32px;
	color: #fff;
	width: 163px !important;
	margin-right: 16px;
	border-radius: 8px;
	background-color: #61BE5A;
}